.badge {
    height: 100px;
    width: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    /* may require vendor prefixes */
    background: yellow;
}

.dotgood {
    height: 25px;
    width: 25px;
    background-color: rgb(12, 255, 4);
    border-radius: 50%;
    display: inline-block;
}

.dotwarning {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}

.dotalarming {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}